/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
 font-family: 'Quicksand', sans-serif;
   font-size: 100%;
   background: url(../images/2.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}
a {
  text-decoration: none;
}
a:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;
}
/*--element start here--*/
/*-- w3layouts --*/
.element {
    width:35%;
    margin:3em auto 0em;
}
.element h1 {
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    margin-bottom: 1em;
    font-weight: 400;
}
.clear{
	clear:both;
}
/*---copyrights--*/
.copy-right {
    margin: 2em 0em 2em 0em;
}
.copy-right p {
    text-align: center;
    font-size:1em;
    color:#fff;
    line-height: 1.5em;
}
/*-- agileits --*/
div#response {
    color: #fff;
}
.copy-right p a{
  color:#fff;
}
.copy-right p a:hover{
	 color:#f99104;
	 transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/*--element end here--*/
.content h2,.content h3 {
    margin-bottom: 1em;
    text-align: center;
    color: #f99104;
    font-size: 2em;
}
/*--media quiries start here--*/
@media(max-width:1440px){
.element {
    width: 60%;	
}
}
/*-- w3layouts --*/
@media(max-width:1280px){
.element {
    width: 65%;
}	
}
@media(max-width:1024px){
.element {
    width: 57%;
}
}
@media(max-width:800px){
.element {
    width: 84%;
}	
}
@media(max-width:480px){
.content h2, .content h3 {
    font-size: 1.7em;
}
}
@media(max-width:414px){
.element {
    width: 94%;
}
.element h1 {
    font-size: 2em;
}
}
@media(max-width:320px){
.element {
    margin: 1em auto 0em;
	/*-- agileits --*/
}	
.element {
    width: 99%;
}
.element h1 {
    font-size: 1.7em;
    margin-bottom: 0.5em;
}
.copy-right {
    margin: 1em 0em 1em 0em;
}
.copy-right p {
    font-size: 0.9em;
}
.content h2, .content h3 {
    font-size: 1.4em;
}
.j-forms .primary-btn, .j-forms .secondary-btn {

    font: 14px 'Open Sans',Helvetica,Arial,sans-serif;
}
}